body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-weight: 300;
  background-image: url(NUpurple.png);
  background-size: 2000px 2000px;
  background-repeat: repeat;
}
#wrapper {
  width: 960px;
  margin: 20px auto 20px auto;
}
